<!DOCTYPE html>
<html lang="en">
    <!-- Include the library. -->
    <script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js">
    </script>
    
    <!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
    <link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css" />
    {%- include head.html -%}

    <body>
        {%- include header.html -%}
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>
        {%- include footer.html -%}
        <script id="dsq-count-scr" src="//dwonczykj-github-io.disqus.com/count.js" async></script>
        <script>
                    // GitHubCalendar(".calendar", "{{site.github_username}}");
        
                    // or enable responsive functionality:
                    GitHubCalendar(".calendar", "{{site.github_username}}", { responsive: true });
        
                    // Use a proxy
                    // GitHubCalendar(".calendar", "your-username", {
                    //     proxy(username) {
                    //         return fetch(`https://your-proxy.com/github?userame                     }
                    // }).then(r => r.text());
        </script>
    </body>

</html>